
body {
    height: 1800px;
    background-color: antiquewhite;
}
html {
    scroll-behavior: smooth;
  }
#header{
  z-index: 10;
    position: fixed;
    justify-content: center;
    width: 100%;
    top: 0px;
    background-color: antiquewhite;
}
.title{
    align-content: center;
}
.main_body{
    padding: 2.5%;
}
.parallax{
    background-image: url("/img/chart.jpg");
    min-height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#information {
    padding: 4%;
    height: 90%;
    min-height: fit-content;
    background-color: #F49F5B;
}
#information p{
    text-align: justify;
    padding-inline: 3%;
}
#card_wrapper {
  background-color: #5f2062;
  display: grid;
  grid-template-columns: 50% 50%;
}

.wraper {
  padding-left: 10%;
  min-height: 300px;
  height: fit-content;
  align-content: center;
  background-color: #5f2062;
  justify-content: center;
}
  
#image_gen {
    padding: 4%;
    min-height:400px;
    height: fit-content;
    background-color: #5f2062;
}
#image{
width: 100%;
border: 5px solid #555; 
}

.planet_inputs{
  width: 90%;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  margin: 5%;
}

#natal_chart {
    padding: 4%;
    min-height: 650px;
    height: fit-content;
    background-color: #5c3c22;
}

.sec3 {
    position: fixed;
    top: 85%;
    right: 1%;
    height: auto;
    border-radius: 100%;
    width: 40px;
    border: 5px solid #5c3c22;
    filter:sepia(1);
    filter:grayscale(0.6);
}
.sec2 {
    position: fixed;
    top: 50%;
    right: 1%;
    height: auto;
    width: 40px;
    filter:sepia(1);
    border-radius: 100%;
    border: 5px solid #5f2062;
}
.sec1 {
    position: fixed;
    top: 15%;
    right: 1%;
    height: auto;
    filter:sepia(1);
    border-radius: 100%;
    border: 5px solid #F49F5B;
    width: 40px;
} 
  .image {
    width: 30%;
    height: 30%;
    align-self: center;
  }

  
  .text {
    color: white;
    font-size: 100%;
  }